/*------------------TAG ELEMENTS---------------------*/
body{
  background-color: #edf7fa;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1{
font-family: 'Pacifico', cursive;
letter-spacing: 1px;
font-weight: lighter;
font-size: 60px;
color: #edf7fa;
margin: 0 auto;
}
h2{
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-weight:600;
  font-size: 2.25rem;
  color: #11999E;
  margin-top: 40px;
  margin-bottom: 20px;

}
h3{
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-weight:400;
  font-size: 1.5rem;
  color: #11999E;
  margin: 0 auto;
}
span{
  font-style: italic;
  font-weight: 600;
}
p, label{
font-family: 'Josefin Sans', sans-serif;
font-weight: lighter;
letter-spacing: 1px;
color: #10316b;
margin: 0 auto;
font-size: 1.2em;
line-height: 2;
}
label{
  color: #edf7fa;
  font-weight: 100;
  font-size: 1.2rem;
  letter-spacing: 0;
}
img{

}
i{
  font-size: 55px;
  padding: 5px;
  display: inline-block;
  color: #10316b;
}
hr{
  border: none;
  border-top: dotted;
  border-color: #d6e5fa;
  border-width: 10px;
  width: 5%;
  margin-top: 60px;
  margin-bottom: 80px;
}
/*------------------CLASS ELEMENTS---------------------*/
.text-box{
  line-height: 2;
  width: 40%;
  margin: auto;
}
.skills-text-box{
  line-height: 2;
}
.profile{
  border-radius: 100%;
  width: 12%;
  padding: 0px;
}
.top-container{
  padding-top: 100px;
  position: relative;
  background-color: #10316b;
}
.clouds-img-1{
position: absolute;
right: 380px;
top: 50px;
}
.clouds-img-2{
  position: absolute;
  left: 360px;
  bottom: 300px;
}
.mountain-img{
position: relative;
top: 4px;
}
.presentation{
  position:relative;
}
.skills{
  text-align: center;
  position: relative;
}
.middle-container{
  margin-top: 40px;
}
.skill-row{
  width: 50%;
  margin:60px auto 60px auto;
  text-align: left;
}
.bottom-container{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #71a95a;

}
.contact-me{
  margin-top: 220px;
  background-color:#10316b;
  padding-bottom: 20px;
  padding-top: 40px;
}
.submit{
  background: #71a95a;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  letter-spacing: 1px;
  border-color: #d6e5fa;
  padding: 10px;
  margin-top: 10px;
  width: 200px;
  color: #10316b;
}
.submit:hover{
  background-color: #007944;
  border-color: #000000;
  color: #000000;
}
.img-box{
}
.computer-img{
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.chilli-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

/*------------------ID ELEMENTS---------------------*/
